body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(background.jpg)no-repeat center center fixed; */
  background: #f0f0f0;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  overflow: auto;
}

code {
  font-family: 'Work Sans', sans-serif;
}
/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.container{
  margin-top: 50px;
  background-color: white;
  /* padding: 20px; */
  padding: 4rem 2rem;
  min-height: 400px;
  border-radius: 0.3rem;
}

.main-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    height: 100%;

}


.card .card-action {
    display: flex;
    justify-content: space-around;
}


.card.horizontal {
    height: 20rem;
    width: 25rem;
    margin: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-counter {
    min-height: 18px;
    display: none;
}
.btn, .btn-large, .btn-small {
  margin: 5px;
}
::placeholder{
  font-weight: bold;
}

.preloader{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal{
  min-height: 20%
}

.collection-list{
  min-height: 400px
}

.alert{
  z-index: 5;
  width: 80%;
  top:5%;
  left:10%;
  position: fixed;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; 
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  -webkit-box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.43);
  -moz-box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.43);
  box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.43);
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  -webkit-box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.43);
  -moz-box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.43);
  box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.43);
  border-color: #f5c6cb;
}

.error-booklist{
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: white;
}

.bottom-book{
  display: flex;
}

.collection .collection-item.avatar .title {
  font-weight: bold;
}

.authors{
  font-style: italic;
}

.input-title{
  margin: auto;
}

nav ul a{
  padding: 0 5px;
}
nav .input-field {
  margin: 0;
  height: auto;
}

nav .input-field input[type=search]{
  color: white;
}

.nav-button-item{
  /* border: none;
  background-color: transparent;
  color: white; 
  font-family: 'Work Sans', sans-serif; */
  background: none;
	border: none;
	font: inherit;
  outline: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}


.profile-row{
  margin-top: 35px;
}

@media only screen and (min-width: 993px){
  .container {
    width: 85%;
  }
}